Interface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 2 (http://www.altova.com) by Michele Rossino (Akhela Srl) -->
<!--W3C Schema generated by XMLSpy v2010 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Interface">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="History" maxOccurs="unbounded"/>
				<xs:element ref="Input" maxOccurs="unbounded"/>
				<xs:element ref="Output" maxOccurs="unbounded"/>
				<xs:element ref="Timer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Platform" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Body Platform F142M L7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Module" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VF030"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Luci targa [F030.Vf7]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Details" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="(not)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2014-01-21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Author" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Antonio Cafiero"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MIL" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="anon">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0x00"/>
				<xs:enumeration value="0x01"/>
				<xs:enumeration value="0x02"/>
				<xs:enumeration value="0x03"/>
				<xs:enumeration value="0x04"/>
				<xs:enumeration value="0x0C"/>
				<xs:enumeration value="CRANK"/>
				<xs:enumeration value="CRANKING"/>
				<xs:enumeration value="CRANK_ON_STATUS"/>
				<xs:enumeration value="ENGINE_CRANKING"/>
				<xs:enumeration value="ENGINE_OFF"/>
				<xs:enumeration value="ENGINE_ON"/>
				<xs:enumeration value="ENGINE_SHUT_DOWN"/>
				<xs:enumeration value="ENG_RESTART"/>
				<xs:enumeration value="KEY_OFF_STATUS"/>
				<xs:enumeration value="KEY_ON_STATUS"/>
				<xs:enumeration value="KEY_PARK_STATUS"/>
				<xs:enumeration value="Key is in CRANK status"/>
				<xs:enumeration value="Key is in OFF status"/>
				<xs:enumeration value="Key is in ON status"/>
				<xs:enumeration value="Key is in PARK status"/>
				<xs:enumeration value="OFF"/>
				<xs:enumeration value="OFF value"/>
				<xs:enumeration value="ON"/>
				<xs:enumeration value="ON value"/>
				<xs:enumeration value="PARK"/>
				<xs:enumeration value="SHUT_DOWN"/>
				<xs:enumeration value="SS_ENG_RESTART"/>
				<xs:enumeration value="SS_OFF"/>
				<xs:enumeration value="SS_ON"/>
				<xs:enumeration value="SS_STOP_REQ"/>
				<xs:enumeration value="STOP_REQ"/>
				<xs:enumeration value="Switch off lamp LHFParkTailLightFailSts"/>
				<xs:enumeration value="Switch off lamp RHFParkTailLightFailSts"/>
				<xs:enumeration value="Switch on lamp LHFParkTailLightFailSts&apos;"/>
				<xs:enumeration value="Switch on lamp RHFParkTailLightFailSts&apos;"/>
				<xs:enumeration value="Value for OFF"/>
				<xs:enumeration value="Value for ON"/>
				<xs:enumeration value="value for StopStart off status"/>
				<xs:enumeration value="value for StopStart on status"/>
				<xs:enumeration value="value for StopStart restart status"/>
				<xs:enumeration value="value for StopStart stop request status"/>
				<xs:enumeration value="value for engine cranking status"/>
				<xs:enumeration value="value for engine off status"/>
				<xs:enumeration value="value for engine on status"/>
				<xs:enumeration value="value for engine shut down status"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Value">
		<xs:complexType>
			<xs:sequence minOccurs="4" maxOccurs="4">
				<xs:element name="anon" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Value" maxOccurs="unbounded"/>
				<xs:element name="NBC" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="VFname" type="VFname_t" use="required"/>
						<xs:attribute name="Implemented" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Network" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="MessageName" type="xs:string" use="required"/>
						<xs:attribute name="SignalName" type="xs:string" use="required"/>
						<xs:attribute name="Async" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="PIN" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="ProcessorPinName" type="xs:string" use="required"/>
						<xs:attribute name="Diagnosis" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PlateLightFailSts"/>
						<xs:enumeration value="PlateLightOut"/>
						<xs:enumeration value="pippo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="bool_t"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Value" maxOccurs="unbounded"/>
				<xs:choice>
					<xs:element name="NBC">
						<xs:complexType>
							<xs:attribute name="VFname" type="VFname_t" use="required"/>
							<xs:attribute name="Implemented" type="xs:boolean" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Network">
						<xs:complexType>
							<xs:attribute name="MessageName" type="xs:string" use="required"/>
							<xs:attribute name="SignalName" type="xs:string" use="required"/>
							<xs:attribute name="Async" type="Bool_t" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="PIN">
						<xs:complexType>
							<xs:attribute name="ProcessorPinName" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Proxy">
						<xs:complexType>
							<xs:attribute name="Implemented" type="xs:boolean" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Type" type="Type_t" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Timer">
		<xs:complexType>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="Implemented" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="History">
		<xs:complexType>
			<xs:attribute name="Description" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="first release"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2014-01-21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Author" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="T. Cafiero"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="VFname_t">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="VF\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Type_t" final="list">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bool_t"/>
			<xs:enumeration value="u_int08"/>
			<xs:enumeration value="s_int08"/>
			<xs:enumeration value="u_int16"/>
			<xs:enumeration value="s_int16"/>
			<xs:enumeration value="u_int32"/>
			<xs:enumeration value="s_int32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bool_t" final="list">
		<xs:restriction base="xs:boolean">
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
